/* Probloms I have To Fix

-menu in mobile and tablet
-bxlider
- fix testemoniol img when do hover

}


*/
 
/* Custom, iPhone Retina */ 


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 576px) {

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* @media (min-width: 768px) {  
    .header .slider h1 {
        font-size: 3rem;
        margin-bottom: .30rem;
    }

    .header .slider p {
        font-size: 1rem;
   }

   .services {
    width: 20%;
}
 
} */
 
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}














